{% extends 'base.html.twig' %}

{% block title %}Modifier une exposition{% endblock %}

{% block body %}
    <main class="container">

        <h1>Modifier une exposition</h1>

        {{ include('admin/exhibitions/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-outline-secondary" href="{{ path('app_exhibitions_index') }}">Retour à la liste</a>

        {{ include('admin/exhibitions/_delete_form.html.twig') }}

    </main>

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/images.js') }}"></script>

    {% endblock %}
