{% extends 'base.html.twig' %}

{% block title %}Ajouter une exposition{% endblock %}

{% block body %}
    <main class="container">
        <h1>Ajouter une exposition</h1>

        {{ include('admin/exhibitions/_form.html.twig') }}

        <a class="btn btn-outline-secondary" href="{{ path('app_exhibitions_index') }}">Retour à liste</a>
    </main>
{% endblock %}
