{% extends 'base.html.twig' %}

{% block title %}Modifier une catégories{% endblock %}

{% block body %}
    <main class="container">
        <h1>Modifier une catégories</h1>

        {{ include('admin/categories/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-outline-secondary" href="{{ path('app_categories_index') }}">Retour à la liste</a>

        {{ include('admin/categories/_delete_form.html.twig') }}
    </main>
{% endblock %}
