{% extends 'base.html.twig' %}

{% block title %}Catégorie sélectionnée{% endblock %}

{% block body %}
    <main class="container">
        <h1>Catégorie sélectionnée</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Nom de la catégorie</th>
                <td>{{ category.name }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-secondary" href="{{ path('app_categories_index') }}">Retour à la liste</a>

        <a class="btn btn-outline-secondary" href="{{ path('app_categories_edit', {'id': category.id}) }}">Modifier</a>

        {{ include('admin/categories/_delete_form.html.twig') }}
    </main>
{% endblock %}
