@charset "UTF-8";
body {
  margin: 0px;
  font-family: "Manjari", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Shrikhand", sans-serif;
}

/*** NAVBAR*****************************************************************/
#paper-back {
  width: 100%;
  height: 100vh;
  background-color: #2a2a2a;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 33px;
}
#paper-back nav {
  padding: 120px 34px;
}
#paper-back nav a {
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#paper-window {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}
#paper-window.tilt {
  overflow: hidden;
  pointer-events: none;
}
#paper-window.tilt #paper-front {
  transform: rotate(10deg) translateX(10em) translateZ(0);
}

#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease;
}

#container section {
  height: 600px;
  text-align: center;
}
#container section:first-of-type {
  padding-top: 10vh;
}
#container section:first-of-type h1 {
  font-size: 45px;
}
#container section:first-of-type p {
  font-size: 25px;
}
@media (max-width: 600px) {
  #container section:first-of-type {
    padding-top: 15vh;
  }
  #container section:first-of-type h1 {
    font-size: 30px;
  }
  #container section:first-of-type p {
    font-size: 18px;
  }
}
#container section:nth-of-type(2n) {
  background-color: #e9e9e9;
}

.hamburger {
  position: fixed;
  z-index: 4;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  user-select: none;
}
.hamburger span {
  position: relative;
}
.hamburger span, .hamburger span:before, .hamburger span:after {
  display: block;
  width: 45px;
  height: 6px;
  background-color: #2a2a2a;
  border-radius: 2px;
}
.hamburger span:before, .hamburger span:after {
  content: "";
  position: absolute;
}
.hamburger span:before {
  bottom: -14px;
}
.hamburger span:after {
  bottom: -28px;
}

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
}
.close:before, .close:after {
  content: "";
  position: absolute;
  display: block;
  width: 45px;
  height: 6px;
  top: 50%;
  background-color: white;
  border-radius: 2px;
}
.close:before {
  transform: translateY(-50%) rotate(45deg);
}
.close:after {
  transform: translateY(-50%) rotate(-45deg);
}

/*** SEARCH BAR AND CHECKBOX DISPLAY*****************************************************************/
.Filters-display {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.FiltersBox {
  display: flex;
  padding: 1em;
}
.FiltersBox-flex {
  flex: 1;
}
.FiltersBox-flex:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.Filters-tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.Filters-tabs-section {
  width: 100%;
  color: white;
  overflow: hidden;
}
.Filters-tabs-section-display {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.Filters-tabs-section-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  /* Icon */
}
.Filters-tabs-section-label:hover {
  background: #1a252f;
}
.Filters-tabs-section-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.Filters-tabs-section-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.Filters-tabs-section-content-searchBar {
  display: inline-block;
  border: 0 solid grey;
  padding: 0;
  transition: all 0.15s ease;
}
.Filters-tabs-section-content-searchBar input[type=text] {
  font-size: 14px;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px;
  width: 10.5em;
  margin: 10px 2px 0 0;
}
.Filters-tabs-section-content-reset {
  padding: 5px;
  background-color: #FFF;
  color: #888;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;
  border: 1px solid #888;
  border-radius: 5px;
  margin: 10px 2px 0 0;
}
.Filters-tabs-section-content-reset:hover {
  background-color: #888;
  color: white;
}
.Filters-tabs-section-content-cats {
  background-color: #FFF;
  color: #888;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease;
  border: 1px solid #888;
  border-radius: 5px;
  margin: 10px 2px 0 0;
}
.Filters-tabs-section-content-cats input {
  display: none;
}
.Filters-tabs-section-content-cats input:checked + label,
.Filters-tabs-section-content-cats input:checked + label:active {
  background-color: #888;
  color: white;
}
.Filters-tabs-section-content-cats:hover {
  background-color: #888;
  color: white;
}
.Filters-tabs-section-content-cats-label {
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.Filters-display:checked + .tab-label {
  background: #1a252f;
}
.Filters-display:checked + .tab-label::after {
  transform: rotate(90deg);
}
.Filters-display:checked ~ .Filters-tabs-section-content {
  max-height: 100vh;
  padding: 1em;
}

/*** HEXAGON DISPLAY *****************************************************************/
.grid {
  margin-bottom: 2em;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  overflow: hidden;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transition: all 0.1s;
  backface-visibility: hidden;
  will-change: transform;
}

.hex::after {
  content: "";
  display: block;
  padding-bottom: 86.602%; /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transition: all 0.1ms;
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  font-weight: 300;
  opacity: 0;
}

#demo1 {
  color: #F5CE95;
  text-transform: capitalize;
  text-align: center;
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.2em;
  z-index: 1;
}

.hex h1:before, .hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: "";
  vertical-align: middle;
  transition: all 0.1s;
  text-align: center;
}

#demo2 {
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1em;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  transition: opacity 0.1s;
}

.img:before {
  background: rgba(137, 22, 22, 0.3);
}

.img:after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1,
.hexLink:hover p,
p {
  opacity: 1;
  transition: 0.1s;
}

.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 1;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 1201px) { /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 5%;
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6) { /* first hexagon of even rows */
    margin-left: 10%; /* = width of .hex / 2  to indent even rows */
  }
}
@media (max-width: 1200px) and (min-width: 901px) { /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 6%;
    font-size: 13px;
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5) { /* first hexagon of even rows */
    margin-left: 12.5%; /* = width of .hex / 2  to indent even rows */
  }
}
@media (max-width: 900px) and (min-width: 601px) { /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 8%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4) { /* first hexagon of even rows */
    margin-left: 16.666%; /* = width of .hex / 2  to indent even rows */
  }
}
@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid {
    padding-bottom: 12%;
    font-size: 12px;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3) { /* first hexagon of even rows */
    margin-left: 25%; /* = width of .hex / 2  to indent even rows */
  }
}
@media (max-width: 400px) {
  #hexGrid {
    font-size: 8px;
  }
}
/***PAGINATION STYLES*****************************************************************/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 1em;
  padding: 1em;
}
.pagination li.disabled a {
  color: #ccc;
  pointer-events: none;
}
.pagination li.active a {
  color: #1da1f2;
}
.pagination li a {
  display: block;
  padding: 0.5rem;
  color: #1da1f2;
  text-decoration: none;
}
.pagination li a:hover {
  background-color: #1da1f2;
  color: #fff;
}

/******FOOTER********************************************************************/
.footer {
  margin-top: 8em;
  position: relative;
  width: 100%;
  background: #000000;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -80px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../uploads/front/wave.svg");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
/*************************************************/

/*# sourceMappingURL=styles.css.map */
