<div class="col-3">
<div class="card h-100">
    <img src="{{ asset('assets/uploads/profiles/' ~ user.image) }}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ user.alias }}</h5>
        <p class="text text-muted">{{ user.description|length > 100 ? user.description|slice(0, 100) ~ '...' : user.description }}</p>
        <a href="{{ path('app_artists_artiste',{"alias": user.alias}) }}"
           class="btn btn-primary">Voir l'artiste</a>
    </div>
</div>
</div>