{% extends 'users.html.twig' %}

{% block title %}Modification de mon profil{% endblock %}

{% block body %}
    <div class=" container">
        <div class="col">
            <h1>Modification de mon profil</h1>
            <div>
                <h5>Image de profil</h5>
                <img src="{{ asset('assets/uploads/profiles/' ~ app.user.image) }}" alt="Image" width="150">
            </div>
            {{ form(form) }}
        </div>
        <a class="btn btn-outline-secondary" href="{{ path('app_profile') }}">Retour </a>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}"></script>
{% endblock %}

